/* app css stylesheet */
body{
  height: 100%;
  width: 100%;
  font-family: Calibri, Arial, serif;
  background-color: #ffd480;

}


.box{
  width: 100%;
  display: block;
  background: #ffcc66 ;
  border: #cc8800 1px solid;
  margin: 15px 0;
  padding: 10px;
  box-shadow: rgba(80, 126, 50, 0.5) 0.5px 0.5px 3px;

}

