<!--<!DOCTYPE html>
<html>
<head>
	<title>Dashboard</title>
</head>
&lt;!&ndash; Latest compiled and minified CSS &ndash;&gt;
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

&lt;!&ndash; Optional theme &ndash;&gt;
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

&lt;!&ndash; Latest compiled and minified JavaScript &ndash;&gt;
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<body>
<div class=jumbotron>-->
<h2 style="margin-top: 0"> Add new Issue</h2>
<form>
<div class="form-group">
    <label for="exampleInputEmail1">Title</label>
    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Issue Title" ng-model="issueData.Title">
  </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Description</label>
        <textarea class="form-control" placeholder="Description" ng-model="issueData.Description"></textarea>
    </div>
    <!--<div class="form-group">
        <label for="exampleInputEmail1">Due Date</label>
        <input type="date" class="form-control" id="exampleInputEmail1" placeholder="dd/mm/yyyy" ng-model="issueData.DueDate">
    </div>-->
    <div class="form-group">
        <label for="exampleInputEmail136">Due Date</label>
        <input type="date" class="form-control" id="exampleInputEmail136" ng-model="issueData.DueDate">

    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Project</label>
        <input type="text" class="form-control" ng-model="issueData.Project"  value="{{issueData.Project}}" >
            <!--<option ng-controller="DashboardUserController", ng-model="issueData.ProjectId">{{currentProjectId}}</option>-->
        </input>
    </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Assignee</label>
    <select class="form-control" ng-model="issueData.AssigneeId" >
    	<option ng-repeat="currUser in allUsers" value="{{currUser.Id}}">{{currUser.Username}}</option>
    </select>
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Priority</label>
    <select class="form-control" ng-controller="ProjectController"  ng-model="issueData.PriorityId">
      <option ng-repeat="priority in projectInfo.Priorities">{{priority.Id}}</option>

    </select>
  </div>

   <div class="form-group">
    <label for="exampleInputPassword1">Labels (comma separated)</label>
    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Labels" ng-list="" ng-model="issueData.Labels">
    <br>
  </div>

  <button type="submit" class="btn btn-success" ng-click="addNewIssue()">Add Issue</button>
</form>
<!--
</div>
</body>
</html>-->
