<div class="box">
    <h2>Register</h2>
    <p>
        <label for="oldPassword">Old Password:</label>
        <input type="text" id="oldPassword" ng-model="data.OldPassword" required="required" />
    </p>
    <p>
        <label for="newPassword">New Password:</label>
        <input type="password" id="newPassword" ng-model="data.NewPassword" required="required"/>
    </p>
    <p>
        <label for="password-confirm">Confirm Password:</label>
        <input type="password" id="password-confirm" ng-model="data.ConfirmPassword" required="required"/>
    </p>
    <p>
        <button ng-click="changePass(data)" class="button">Change password</button>
        <!--<a href="#/register" class="link">Register</a>-->
    <p>
</div>
