<!--<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
</head>
&lt;!&ndash; Latest compiled and minified CSS &ndash;&gt;
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

&lt;!&ndash; Optional theme &ndash;&gt;
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

&lt;!&ndash; Latest compiled and minified JavaScript &ndash;&gt;
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<body>
<div class=jumbotron>-->

    <h2 style="margin-top: 0">Sign in</h2>


    <form class="box">
        <div >
            <div class="container-fluid" >

                <div class="row">
                    <div class="form-horizontal">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label for="oldPassword" class="col-md-3">Old Password:</label>
                                <div class="col-md-7">
                                    <input type="text" id="oldPassword" ng-model="data.OldPassword" required="required" />
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="newPassword" class="col-md-3">New Password:</label>
                                <div class="col-md-7">
                                    <input type="password" id="newPassword" ng-model="data.NewPassword" required="required"/>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="password-confirm" class="col-md-3">Confirm Password:</label>
                                <div class="col-md-7">
                                    <input type="password" id="password-confirm" ng-model="data.ConfirmPassword" required="required"/>
                                </div>
                            </div>


                            <button  class="btn btn-success" ng-click="changePass(data)">Change password</button>
                        </div>
                    </div>


                </div>
            </div>



        </div>
    </form>


<!--
</div>
</body>
</html>

-->



<!--
<div class="box">
    <h2>Register</h2>
    <p>
        <label for="oldPassword">Old Password:</label>
        <input type="text" id="oldPassword" ng-model="data.OldPassword" required="required" />
    </p>
    <p>
        <label for="newPassword">New Password:</label>
        <input type="password" id="newPassword" ng-model="data.NewPassword" required="required"/>
    </p>
    <p>
        <label for="password-confirm">Confirm Password:</label>
        <input type="password" id="password-confirm" ng-model="data.ConfirmPassword" required="required"/>
    </p>
    <p>
        <button ng-click="changePass(data)" class="button">Change password</button>
        &lt;!&ndash;<a href="#/register" class="link">Register</a>&ndash;&gt;
    <p>
</div>
-->
