<!DOCTYPE html>
<html>
<head>
	<title>Dashboard</title>
</head>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<body>

<div class="jumbotron" style="height: 100%">

	<h1>Dashboard</h1>
	<button class="btn btn-success" ng-show="isAdmin" ng-click="listAllProjects()">List All Project</button>
	<button class="btn btn-success" ng-show="isAdmin" ng-click="add()">Add new project</button>

	<table class="table table-striped">
		<thead>
		<tr>
			<!--<td><button href="#" ng-click="hideIssues()">Issues</button></td>-->
			<!--<td><button  ng-click="viewMyIssues()">View issues</button></td>-->
			<!--<td><button  ng-show="isAdmin", ng-click="listAllProjects()">List All Project</button></td>-->
			<!--<td><button ng-click="hideMyProjects()">List My Projects(I am ProjectLeadr)</button></td>-->
			<!--<td><button ng-click="viewProject()">View Project</button></td>
			<td><button  ng-show="isAdmin", ng-click="add()">Add Project</button></td>-->
			<td><button  ng-click="changePassword()">Change User Password</button></td>
			<td><button  ng-click="logout()">Log out</button></td>

		</tr>
		</thead>
</table>

		<!--<table class="table table-striped" ng-show="isHideIssues">-->
	<div class="container-fluid">
	<div class="row">
		<div>
	<div class="col-md-3">
	<table class="table table-striped">
	<thead>
		<tr>
			<td>Issues</td>
			<td>Issue Id</td>
			<td>Project Name</td>
			<td>Project Id</td>
			<td>Description</td>
			<td>Issue Key</td>
			<td>Due Date</td>
		</tr>
	</thead>
			<tbody>
		<tr ng-repeat="issue in issues" >
			<td>{{issue.Title}}</td>
			<td>{{issue.Id}}</td>
			<td>{{issue.Project.Name}}</td>
			<td>{{issue.Project.Id}}</td>
			<td>{{issue.Description}}</td>
			<td>{{issue.IssueKey}}</td>
			<td>{{issue.DueDate}}</td>
			<td><button class="btn btn-success"><a href="#/issues/{{issue.Id}}">View</a></button></td>
			<!--<td><button ng-click="editIssue()">Edit Issue</button></td>-->
		</tr>

	</tbody >
			</table>
	</div>
</div>




<!--
	<div class="col-md-4">
	<table class="table table-striped" ng-show="isHideProjects">
		<thead>
		<tr>
			<td>Project Id</td>
			<td>Project Name</td>
			<td>Project Lead</td>
			<td>Description Key</td>
			<td>Project TransitionSchemeId</td>
		</tr>
		</thead>

		<tbody>

	<tr ng-repeat="project in allProjects" >
		<td>{{project.Id}}</td>
		<td>{{project.Name}}</td>
		<td>{{project.Lead.Username}}</td>
		<td>{{project.ProjectKey}}</td>
		<td>{{project.TransitionSchemeId}}</td>
	</tr>

		</tbody >
		</table>
	</div>-->

		<div class="pull-right">


			<div class="panel panel-info">
				<div class="panel-heading">Affiliated Projects</div>
				<div class="panel-body">
					<div class="col-md-5">

					<table class="table table-striped">
						<thead>
						<tr>
							<td>Project Id</td>
							<td>Project Name</td>
							<!--<td>Project Lead</td>
                            <td>Description Key</td>
                            <td>Project TransitionSchemeId</td>-->
						</tr>
						</thead>

						<tbody>

						<tr ng-repeat="myProject in myProjects" >
							<td>{{myProject.Id}}</td>
							<td>{{myProject.Name}}</td>
							<!--<td>{{myProject.Lead.Username}}</td>
                            <td>{{myProject.ProjectKey}}</td>
                            <td>{{myProject.TransitionSchemeId}}</td>-->
							<td><button class="btn btn-success"><a href="#/projects/{{myProject.Id}}">View</a></button></td>
						</tr>
						<tr ng-repeat="issue in issues">
							<td ng-if="issue.Author.Id!=issue.Assignee.Id">{{issue.Project.Id}}</td>
							<td ng-if="issue.Author.Id!=issue.Assignee.Id">{{issue.Project.Name}}</td>
							<td ng-if="issue.Author.Id!=issue.Assignee.Id"><button class="btn btn-success"><a href="#/projects/{{issue.Project.Id}}">View</a></button></td>
						</tr>


						</tbody >
					</table>


				</div>
			</div>


<!--
			<table class="table table-striped">
				<thead>
				<tr>
					<td>Project Id</td>
					<td>Project Name</td>
					&lt;!&ndash;<td>Project Lead</td>
					<td>Description Key</td>
					<td>Project TransitionSchemeId</td>&ndash;&gt;
				</tr>
				</thead>

				<tbody>

				<tr ng-repeat="myProject in myProjects" >
					<td>{{myProject.Id}}</td>
					<td>{{myProject.Name}}</td>
					&lt;!&ndash;<td>{{myProject.Lead.Username}}</td>
					<td>{{myProject.ProjectKey}}</td>
					<td>{{myProject.TransitionSchemeId}}</td>&ndash;&gt;
					<td><button class="btn btn-success"><a href="#/projects/{{myProject.Id}}">View</a></button></td>
				</tr>
				<tr ng-repeat="issue in issues">
					<td ng-if="issue.Author.Id!=issue.Assignee.Id">{{issue.Project.Id}}</td>
					<td ng-if="issue.Author.Id!=issue.Assignee.Id">{{issue.Project.Name}}</td>
					<td ng-if="issue.Author.Id!=issue.Assignee.Id"><button class="btn btn-success"><a href="#/projects/{{myProject.Id}}">View</a></button></td>
				</tr>


				</tbody >
			</table>-->
		</div>
		</div>


	</div>
		</div>



</div>
</body>
</html>