<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
</head>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<body>
<div class=jumbotron>
    <h2 style="margin-top: 0"> Issue Page</h2>

    <form class="col-md-15">

        <div class="col-md-5">
        <div class="form-group" >
            <select  class="form-control" ng-controller="DashboardUserController" ng-model="issue.Id">
                <option ng-repeat="issue in issues">{{issue.Id}}</option>
            </select>
            <button class="btn btn-success" ng-click="getIssue()">Show issues by chosen Id</button>
            <button  class="btn btn-success" ng-click="viewAnotherIssue()">Vew Another Issue</button>
            <button  class="btn btn-success" ng-show="showEditIssue" ng-click="editIssue()">Edit issues</button>
        </div>

    <div class="form-group" ng-show="isHideIssue">
        <div class="form-group">
            <label for="issueInfoTitle">Title</label>
            <input class="form-control" id="issueInfoTitle" ng-model="issueInfo.Title" value="{{issueInfo.Title}}" >
        </div>
        <div class="form-group">
            <label for="issueInfoAuthor">Author</label>
            <input class="form-control" id="issueInfoAuthor" ng-model="issueInfo.Author.Username" value="{{issueInfo.Author.Username}}" >
        </div>
        <div class="form-group">
            <label for="issueInfoDueDate">Due Date</label>
            <input type="text" class="form-control" id="issueInfoDueDate"  ng-model="issueInfo.DueDate" value="{{issueInfo.DueDate}}" >
        </div>
        <div class="form-group">
            <label for="issueInfoAssignee">Assignee</label>
            <input type="text" class="form-control" id="issueInfoAssignee" ng-model="issueInfo.Assignee.Id" value="{{issueInfo.Assignee.Id}}"  >
            </input>
        </div>
        <div class="form-group">
            <label for="issueInfoDescription">Description</label>
            <input type="text" class="form-control" id="issueInfoDescription" ng-model="issueInfo.Description" value="{{issueInfo.Description}}"  >
        </div>
        <div class="form-group">
            <label for="issueInfoIssueKey">Issue Key</label>
            <input type="text" class="form-control" id="issueInfoIssueKey" ng-model="issueInfo.IssueKey" value="{{issueInfo.IssueKey}}">
            <br>
        </div>
        <div class="form-group">
            <label for="issueInfoProjectName">Project Name</label>
            <input type="text" class="form-control" id="issueInfoProjectName" ng-model="issueInfo.Project.Name" value="{{issueInfo.Project.Name}}">
            <br>
        </div>
        <div class="form-group">
            <label for="issueInfoProjectId">Project Id</label>
            <input type="text" class="form-control" id="issueInfoProjectId" ng-model="issueInfo.Project.Id" value="{{issueInfo.Project.Id}}" disabled>
            <button class="btn btn-success" ng-click="viewProject(issueInfo.Project.Id)">View Project</button>
            <br>
        </div>

    </div>


    </div>

        <div class="md-col-3">
            <div class="form-group">
                <table ng-show="showIssueStatus">
                    <tbody>
                    <tr>
                        <td ng-model="issueInfo.Status.Id">{{issueInfo.Status.Id}}</td>
                        <td  ng-model="issueInfo.Status.Name">{{issueInfo.Status.Name}}</td>
                        <td><input type="number" ng-model="status.Id"></td>
                        <td class="md-col-1"><button class="btn btn-success" ng-click="changeIssueStatus(issue.Id,status.Id)">Change Status</button></td>
                    </tr>
                    </tbody>
                </table>

            </div>

        </div>



            <div class="md-col-5">
                <form>
                <div class="form-group" ng-show="isHideProject">
                    <div class="form-group">
                        <label for="projectInfoName">Project Name</label>
                        <input class="form-control" id="projectInfoName" ng-model="projectInfo.Name" value="{{projectInfo.Name}}" >
                    </div>

                    <div class="form-group">
                        <label for="projectInfoDescription">Description</label>
                        <input class="form-control" id="projectInfoDescription" ng-model="projectInfo.Description" value="{{projectInfo.Description}}" >
                    </div>

                    <div class="form-group" ng-repeat="label in projectInfo.Labels">
                        <label for="projectInfoLables">Label Id</label>
                        <input type="text" class="form-control" id="projectInfoLables"  ng-model="label.Id" value="{{label.Id}}" >
                        <label for="projectInfoLName">Label Name</label>
                        <input type="text" class="form-control" id="projectInfoLName"  ng-model="label.Name" value="{{label.Name}}" >
                    </div>

                    <div class="form-group" ng-repeat="priority in projectInfo.Priorities">
                        <label for="projectInfoPriorityId">Priority Id</label>
                        <input type="text" class="form-control" id="projectInfoPriorityId"  ng-model="priority.Id" value="{{priority.Id}}" >
                        <label for="projectInfoPName">Priority Name</label>
                        <input type="text" class="form-control" id="projectInfoPName"  ng-model="priority.Name" value="{{priority.Name}}" >
                    </div>


                    <div class="form-group">
                        <label for="projectInfoLeadId">Lead Id</label>
                        <input type="text" class="form-control" id="projectInfoLeadId" ng-model="projectInfo.Lead.Id" value="{{projectInfo.Lead.Id}}"  >
                        </input>
                    </div>

                    <div class="form-group">
                        <label for="projectInfoKey">Project Key</label>
                        <input type="text" class="form-control" id="projectInfoKey" ng-model="projectInfo.ProjectKey" value="{{projectInfo.ProjectKey}}"  >
                        </input>
                    </div>

                    <div class="form-group">
                        <label for="projectInfoSchemed">TransitionSchemeId</label>
                        <input type="text" class="form-control" id="projectInfoSchemed" ng-model="projectInfo.TransitionSchemeId" value="{{projectInfo.TransitionSchemeId}}"  >
                    </div>
                </div>

                </form>
            </div>



    </form>




</div>
</body>
</html>