<!--<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
</head>
&lt;!&ndash; Latest compiled and minified CSS &ndash;&gt;
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

&lt;!&ndash; Optional theme &ndash;&gt;
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

&lt;!&ndash; Latest compiled and minified JavaScript &ndash;&gt;
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<body>-->
<div class="main">

<div class=box>

    <h2 style="margin-top: 0">Sign in</h2>

   <!-- <div class="row">-->

        <form>

            <div class="container-fluid" >

                <div class="row">
                    <div>
                    <div class="form-horizontal">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label for="email" class="col-md-3">Email</label>
                                <div class="col-md-7">
                                    <input type="text" id="email" ng-model="userData.email" required="required">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="password" class="col-md-3">Password</label>
                                <div class="col-md-7">
                                    <input type="password" id="password" ng-model="userData.password" required="required" >
                                </div>
                            </div>


                            <button  class="btn btn-success" ng-click="login(userData)">Login</button>
                            <button  class="btn btn-success" ng-click="register()">Register</button>
                        </div>
                    </div>

</div>
        </div>
</div>
    </form>
    </div>




</div>
<!--
</body>
</html>
-->











<!--
<div class="box">
    <h2>Login</h2>
    <p>
        <label for="email">E-mail:</label>
        <input type="text" id="email" ng-model="userData.email" required="required" />
    </p>
    <p>
        <label for="password">Password:</label>
        <input type="password" id="password" ng-model="userData.password" required="required"/>
    </p>

    <p>
        <button ng-click="login(userData)" class="button">Register</button>
        &lt;!&ndash;<a href="#/register" class="link">Register</a>&ndash;&gt;
    <p>
</div>
-->
