<!--<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
</head>
&lt;!&ndash; Latest compiled and minified CSS &ndash;&gt;
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

&lt;!&ndash; Optional theme &ndash;&gt;
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

&lt;!&ndash; Latest compiled and minified JavaScript &ndash;&gt;
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<body>
<div class=jumbotron>-->

<div class="form-group">
    <button class="btn btn-success" ng-click="returnToDashboard()">Dashboard</button>
    </div>


    <h2 style="margin-top: 0"> Project Page</h2>


    <form>
        <div >
            <div class="container-fluid" >
               <!-- <label for="allProjects">Choose Id from all Projects</label>-->
                <!--<select  id="allProjects" class="form-control" ng-show="isAdmin" ng-controller="DashboardUserController" ng-model="project.Id">
                    <option ng-repeat="project in allProjects">{{project.Id}}</option>
                </select>-->
               <!-- <label for="myProjects">Choose Id from my Projects</label>
                <select id="myProjects" class="form-control" ng-controller="DashboardUserController" ng-model="myProject.Id" >
                    <option ng-repeat="myProject in myProjects">{{myProject.Name}}</option>
                </select>
               </div>
-->
                <div class="form-group">
                <!--<button class="btn btn-success" ng-click="getProject()">Show project by chosen Id</button>-->
                <!--<button  class="btn btn-success" ng-click="viewAnotherProject()">Vew Another Project</button>-->
                <!--<button  class="btn btn-success" ng-click="editProject(project.Id,projectInfo)">Edit Project</button>-->
                <button  class="btn btn-success" ng-show="isProjectLead()||isAdmin()" ng-click="edit()">Edit Project</button>
                    <button  class="btn btn-success" ng-show="isProjectLead()||isAdmin()" ng-click="addIssue()">Add Issue</button>
                    </div>


               <div class="row">
                <div class="form-horizontal">
                    <div class="col-md-5">
                        <div class="form-group">
                            <div ng-model="projectInfo.ProjectKey">Project key:{{projectInfo.ProjectKey}}</div>
                        </div>
                <div class="form-group">
                    <label for="projectInfoName" class="col-md-3">Name</label>
                    <div class="col-md-7">
                    <input class="form-control" id="projectInfoName" ng-model="projectInfo.Name" value="{{projectInfo.Name}}" >
                </div>
                    </div>

                <div class="form-group">
                    <label for="projectInfoDescription" class="col-md-3">Description</label>
                    <div class="col-md-7">
                    <input class="form-control" id="projectInfoDescription" ng-model="projectInfo.Description" value="{{projectInfo.Description}}" >
                </div>
                    </div>

                        <div class="form-group">
                            <label for="projectInfoLeadId" class="col-md-3">Lead Id {{projectInfo.Lead.Username}}</label>
                            <div class="col-md-7">
                                <input type="text" class="form-control" id="projectInfoLeadId" ng-model="projectInfo.Lead.Id" value="{{projectInfo.Lead.Id}}"  >
                                </input>
                            </div>
                        </div>


                        <div class="form-group">
                            <label for="projectInfoLables" class="col-md-3 ">Labels:</label>
                            <div class="col-md-7">
                                <textarea class="form-control" id="projectInfoLables" ng-model="projectInfo.Arrlabels" ng-list="">
                                    {{projectInfo.Arrlabels}}
                                </textarea>
                            </div>

                        </div>


                        <div class="form-group">
                            <label for="projectInfoPriorities" class="col-md-3 ">Priorities:</label>
                            <div class="col-md-7">
                                <textarea class="form-control" id="projectInfoPriorities" ng-model="projectInfo.ArrPriorities" ng-list="">
                                    {{projectInfo.ArrPriorities}}
                                </textarea>
                            </div>

                        </div>


                </div>
                    </div>

                   <div class="col-md-3">
                       <table class="table table-striped">
                           <thead>
                           <tr>
                               <td>Name</td>
                               <td>Issue Id</td>
                               <!--<td>Project Name</td>
                               <td>Project Id</td>-->
                               <td>Description</td>
                               <td>Assigne</td>
                               <td>Due Date</td>
                           </tr>
                           </thead>
                           <tbody>
                           <tr ng-repeat="issue in projectIssuesInfo" >
                               <td>{{issue.Title}}</td>
                               <td>{{issue.Id}}</td>
                              <!-- <td>{{issue.Project.Name}}</td>
                               <td>{{issue.Project.Id}}</td>-->
                               <td class="col-md-1">{{issue.Description}}</td>
                               <td>{{issue.Assignee.Username}}</td>
                               <td>{{issue.DueDate}}</td>
                               <td><button class="btn btn-success"><a href="#/issues/{{issue.Id}}">View</a></button></td>
                               <!--<td><button ng-click="editIssue()">Edit Issue</button></td>-->
                           </tr>

                           </tbody >
                       </table>


                   </div>

                   </div>
                </div>


<!--
            <div class="form-group" ng-show="isHideEdit">

                <div class="form-group">
                    <label for="projectEditName">Project Name</label>
                    <input class="form-control" id="projectEditName" ng-model="projectEdit.Name" value="{{projectEdit.Name}}" >
                </div>

                <div class="form-group">
                    <label for="projectEditDescription">Description</label>
                    <input class="form-control" id="projectEditDescription" ng-model="projectEdit.Description" value="{{projectEdit.Description}}" >
                </div>

                <div class="form-group" ng-model="projectEdit.labels">
                    &lt;!&ndash;<label for="projectEditLables">Label Id</label>
                    <input type="text" class="form-control" id="projectEditLables"  ng-model="projectEdit.labels.Id" value="{{projectEdit.labels.Id}}" >&ndash;&gt;
                    <label for="projectEditLName">Label Name</label>
                    <input type="text" class="form-control" id="projectEditLName"  ng-model="projectEdit.labels[0].Name" value="{{projectEdit.labels[0].Name}}" >
                </div>



                <div class="form-group" ng-model="projectEdit.priorities">
                    &lt;!&ndash;<label for="projectEditPriorityId">Priority Id</label>
                    <input type="text" class="form-control" id="projectEditPriorityId"  ng-model="projectEdit.priorities.Id" value="{{projectEdit.priorities.Id}}" >&ndash;&gt;
                    <label for="projectEditPName">Priority Name</label>
                    <input type="text" class="form-control" id="projectEditPName"  ng-model="projectEdit.priorities[0].Name" value="{{projectEdit.priorities[0].Name}}" >
                </div>


                <div class="form-group">
                    <label for="projectEditLeadId">Lead Id</label>
                    <input type="text" class="form-control" id="projectEditLeadId" ng-model="projectEdit.LeadId" value="{{projectEdit.LeadId}}"  >
                    </input>
                </div>




                &lt;!&ndash;<div class="form-group">
                    <label for="projectInfoKey">Project Key</label>
                    <input type="text" class="form-control" id="projectInfoKey" ng-model="projectInfo.ProjectKey" value="{{projectInfo.ProjectKey}}"  >
                    </input>
                </div>

                <div class="form-group">
                    <label for="projectInfoSchemed">TransitionSchemeId</label>
                    <input type="text" class="form-control" id="projectInfoSchemed" ng-model="projectInfo.TransitionSchemeId" value="{{projectInfo.TransitionSchemeId}}"  >
                </div>
&ndash;&gt;

                <button  class="btn btn-success" ng-click="editProject(myProject.Id,projectEdit)">Edit Project</button>
            </div>-->




        </div>
    </form>

<!--

</div>
</body>
</html>-->
