<div class="box">
         <h2>Login</h2>
         <p>
             <label for="email">E-mail:</label>
             <input type="text" id="email" ng-model="userData.email" required="required" />
         </p>
         <p>
             <label for="password">Password:</label>
             <input type="password" id="password" ng-model="userData.password" required="required"/>
         </p>
    <p>
        <label for="password-confirm">Confirm Password:</label>
        <input type="password" id="password-confirm" ng-model="userData.password-confirm" required="required"/>
    </p>
         <p>
             <a ng-click="register(userData)" class="button">Register</a>

         <p>
     </div>
